  <header>
    <div class="logo">Venta de Vehiculos</div>
     <nav class="header-nav">
      <a href="/">Inicio</a>   
      <a href="carro-electrico">Carro electrico</a>
      <a href="carro-gasolina">Carro De Gasolina</a>
      <a href="carro-disel">Carro De Disel</a>
    </nav>
  </header>