  <header>
    <div class="logo">Venta de Vehiculos</div>
     <nav class="header-nav">
      <a href="index.html">Home</a>   
      <a href="carros-electricos.html">Carro electrico</a>
      <a href="carro-gasolina.html">Carro De Gasolina</a>
      <a href="carro-disel.html">Carro De Disel</a>
    </nav>
  </header>