<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>M.J - Portafolio</title>
  <link rel="stylesheet" href="/public/assets/css/styles-c.css"> 
  <script src="app.js/port.js" defer></script> 

</head>
<body>

  <header>
    <h1>M.J</h1>
    <nav class="header-nav">
        <a href="index.html">Home</a>   
        <a href="carros-electricos.html">Carro electrico</a>
        <a href="carro-gasolina.html">Carro De Gasolina</a>
        <a href="carro-disel.html">Carro De Disel</a>
    </nav>
  </header>
  <div class="portafolio-section">
    <div class="portafolio-item" onclick="toggleExpand(this)">
      <div class="front">
        <img src="/public/imagen/ele1.jpeg" alt="Bancapoly Game">
        <h3>CARRO ELECTRICO 1</h3>
        <p>Los carros electricos son buenos en mucha maneras ayudan al medio ambien</p>
        <p>y no se contamina mucho</p>
      </div>
      <div class="back">
        <p>mas informacion aqui </p>
           <a href="http://lukaelectric.com/" class="cv-button">visualizacion de modelo</a>
      </div>
    </div>
    <div class="portafolio-item" onclick="toggleExpand(this)">
      <div class="front">
        <img src="/public/imagen/ele2.jpeg" alt="Calculadora">
        <h3>CARRO ELECTRICO 2</h3>
        <p>Los carros electricos son buenos en mucha maneras ayudan al medio ambien</p>
        <p>y no se contamina mucho</p>
      </div>
      <div class="back">
        <p>.</p>
            <a href="http://www.bydauto.gt/e1-2/" class="cv-button">visualizacion de modelo</a>
      </div>
    </div>
    <div class="portafolio-item" onclick="toggleExpand(this)">
      <div class="front">
        <img src="/public/imagen/ele3.jpeg" alt="Teoremas de Estadística">
        <h3>CARRO ELECTRICO 3</h3>
        <p>Los carros electricos son buenos en mucha maneras ayudan al medio ambien</p>
        <p>y no se contamina mucho</p>
      </div>
      <div class="back">
        <p>mas informacion aqui </p>
           <a href="https://coditensa.com/categoria-producto/vehiculos-de-movilidad-electrica-alternativa/" class="cv-button">visualizacion de modelo</a>
      </div>
    </div>
    <div class="portafolio-item" onclick="toggleExpand(this)">
      <div class="front">
        <img src="/public/imagen/ele4.jpeg" alt="Programa de Software">
        <h3>CARRO ELECTRICO 4</h3>
        <p>Los carros electricos son buenos en mucha maneras ayudan al medio ambien</p>
        <p>y no se contamina mucho</p>
      </div>
      <div class="back">
        <p>mas informacion aqui </p>
      <a href="www.maxus.com.gt" class="cv-button">visualizacion de modelo</a>
      </div>
    </div>
    <div class="portafolio-item" onclick="toggleExpand(this)">
      <div class="front">
        <img src="/public/imagen/ele5.jpeg" alt="Totito">
        <h3>CARRO ELECTRICO 5</h3>
        <p>Los carros electricos son buenos en mucha maneras ayudan al medio ambien</p>
        <p>y no se contamina mucho</p>
      </div>
      <div class="back">
        <p>mas informacion aqui </p>
           <a href="https://blog.corporacionbi.com/crediauto-en-linea-banco-industrial/hibrido-electrico" class="cv-button">visualizacion de modelo</a>
      </div>
    </div>
  </div>
</body>
</html>
